/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --font: 'Open Sans', sans-serif;
    --background: #282a36;
    --selection: #44475a;
    --comment: #6272a4;
    --purple: #bd93f9;
    --white: #f8f8f2;
    --pink: #ff79c6;
}

html {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}


#userPhoto {
    height: 7em;
    width: 7em;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    border: solid var(--purple) 2px;
}

#userName,
#projects {
    width: 100%;

    color: var(--white);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;

    text-align: center;
    text-decoration: none;

    line-height: 1.25;
    display: block;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    display: block;
    margin-bottom: 20px;
    padding: 17px;

    background-color: var(--background);
    color: var(--comment);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;

    border-radius: 5px;
    border: solid var(--purple) 1px;

    text-align: center;
    text-decoration: none;

    transition: all .25s cubic-bezier(.08, .59, .29, .99);

}

.link:hover {
    background-color: var(--selection);
    color: var(--purple);
}